*{
    margin:0;
    padding: 0;
}
/* body{
    background: var(--tg-theme-bg-color) ;
    color:var(--tg-theme-text-color) ;
}

.container {
    background: var(--tg-theme-bg-color) ;
    color:var(--tg-theme-text-color) ;
}  */

.navbar {
    background-color: #aba484;
    position: sticky;
    z-index: 50;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 380px;
}
.navbar span {
    color:white;
    font-weight: 400;
    font-size: 25px;
}
.toggle {
    padding-right: 18px;
}


.navlink:active,
.navlink:hover,
.navlink {
    color: white;
    font-style: normal;
    font-size: large;
    text-decoration: none;
    cursor: pointer;
    
}
.try{
    display: flex;
    flex-direction: column;
}

